:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
  height: 99rem;

  div.row {
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
    margin: 0px;
    .dz-map {
      display: flex;
      align-items: stretch;
      padding: 2.25rem 2.25rem 0.75rem;
    }

    table {
      width: 100%;
    }
  }

}
