<div class="row">
  <div class="dz-map col-sm-12"
       [ngClass]="currentWilaya ? 'col-md-9': 'col-md-12'"
       leaflet
       [leafletOptions]="options"
       [leafletLayers]="totalDeathsLayers">
  </div>
  <div class="col-md-3 col-sm-12 dz-map-controls" *ngIf="currentWilaya">
    <table>
      <thead>
      <tr>
        <th rowspan="2">{{currentWilaya.province}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Nombre de cas</td>
        <td>{{currentWilaya.confirmed_cases}}</td>
      </tr>
      <tr>
        <td>Nombre de morts</td>
        <td>{{currentWilaya.deaths}}</td>
      </tr>
      <tr>
        <td>Nombre de guérrisons</td>
        <td>{{currentWilaya.recoveries}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
